// Floatbox Grid
//---------------------------------------------

//Declares the container element of child rows or columns
@mixin columns(
	$columns:"", 
	$container-width: $neutron-container-max-width,
	$align-container: "",
	$margin: "",
	$flush-margin: $neutron-flush-margin,
	$flush-padding: $neutron-flush-padding,
	$target: "*",
	$order: "",
	$rows: all
) {
	@include container-width($container-width);
	margin-left: auto;
	margin-right: auto;
	@include clear-fix();

	@if $columns != "" {
		
		$columns: neutron_calc-column-ratio($columns);
		$column-sum: neutron_sum($columns);	
		$column-count: length($columns);
		$column-widths: neutron_calculate-column-widths($columns);	
		$target-child-selector: neutron_child-selector($target);
		
		$margin-left: 0;
		$margin-right: 0;
		
		@if $margin != "" {
			
			//get margins for left and right of the columns
			$margin-left: neutron_extract-position($margin,left);
			$margin-right: neutron_extract-position($margin,right);
		
		}
	
		$rows-selector: #{$column-count};
		@if $rows != all {
			$rows-selector: "-" + $rows-selector;
		}
	
		//assign calculated widths to elements
		$index: 0;
		@each $width in $column-widths {	
			$index: $index + 1;
			
			& > #{$target}:#{$target-child-selector}(#{$rows-selector}n+#{$index}) {
			
				$calc-contents: "#{$width}";
					
				@if $margin != "" {
					
					@if $margin-left != 0 {
						$calc-contents: $calc-contents + " - #{$margin-left}";
					}					
					
					@if $margin-right != 0 {
						$calc-contents: $calc-contents + " - #{$margin-right}";
					}

					@if $flush-margin and $margin != "" {
						$flush-left: $margin-left / $column-count;
						$flush-right: $margin-right / $column-count;
						$calc-contents: $calc-contents + " + #{$flush-left}";
						$calc-contents: $calc-contents + " + #{$flush-right}";
					}	

				}

				width: calc(#{$calc-contents});
				float:left;
				
				@content;

				@if $margin != "" {
					margin: $margin;
				}

				@include neutron_margin-application($index, $column-count, $flush-margin, $flush-padding);

			}
		}	
	}

	//Set alignment of container
	@if $align-container != "" {
		@include align-container($align-container);
	}
	
	// Change order of columns
	@if type-of($order) == list and type-of($columns) == list {
		@include order($order, $columns, $margin, $flush-margin, $target);
	}

}

//Alias for columns()
@mixin column($arguments...) {
	@include columns($arguments...) {
		@content;
	};
}

@mixin col($arguments...) {
	@include columns($arguments...) {
		@content;
	};
}

@mixin float-columns($arguments...) {
	@include columns($arguments...) {
		@content;
	};
}

@mixin float-column($arguments...) {
	@include columns($arguments...) {
		@content;
	};
}

@mixin float-col($arguments...) {
	@include columns($arguments...) {
		@content;
	};
}

@mixin order($order: "", $columns:"", $margin:"", $flush-margin:$neutron-flush-margin, $target:"*") {
	
	@if type-of($order) == list {
		
		//if no ratio is set, use $order to determine number of equal width columns
		@if $columns == "" {
			$columns: length($order);
		}

		//if column ratio is not a list, generate it
		$columns: neutron_calc-column-ratio($columns);
		$column-sum: neutron_sum($columns);
		$column-count: length($columns);
		$target-child-selector: neutron_child-selector($target);
				
		$margin-left: 0;
		$margin-right: 0;
		
		@if $margin != "" {	
			$margin-left: neutron_extract-position($margin,left);
			$margin-right: neutron_extract-position($margin,right);
		}
		
		//calculate width of each column
		$column-width-string:();

		$i: 0;
		$columns-offset: ();
		@each $column in $columns {
			$i: $i + 1;
			
			// calculate column widths 
			$col-width: (100% / $column-sum) * $column;
			
			@if $margin != "" {
				@if $flush-margin {
					$flush-left: $margin-left / $column-count;
					$flush-right: $margin-right / $column-count;
					$flush: $flush-left + $flush-right;
					$col-width: $col-width + " + #{$flush}";
				}
			}

			$column-width-string: append($column-width-string, "(#{$col-width})", comma);
					
			// get sum of left offset of columns that come before current original position
			$current-index: 0;
			$current-offset: "0px";
			
			@while $current-index < $i {
				$current-index: $current-index + 1;
				
				$add-offset: nth($column-width-string, $current-index);
				$current-offset: $current-offset + " + " + $add-offset;
			}
			
			$current-offset: "(" + $current-offset + ")";
			$columns-offset: append($columns-offset, $current-offset, comma)
			
		}
		
		$new-column-width-string: neutron_reorder-list($column-width-string, $order);
		$offset-totals: ();

		//iterate over each column
		$i: 0;
		@each $column in $order {
			$i: $i + 1;

			// get sum of widths of columns that come before current one and add to offset
			$new-position: index($order, $column);	
			$new-offset: "0px";
			
			$index: 0;
			@while $index < $new-position {
				$index: $index + 1;
				
				$new-offset: $new-offset + " + " + nth($new-column-width-string, $index);
			}

			//Get left offset required for this column to reset column to left side.
			$ori-offset: nth($columns-offset, $column);

			& > #{$target}:#{$target-child-selector}(#{$column-count}n+#{$column}) {
				left: calc(0px - (#{$ori-offset}) + (#{$new-offset}));
				position: relative;
			}
		}
	}
}
