/// Overrides
//===============================================
//In this file you can change the default 
//values for variables used throughout Neutron,
//allowing you to customise the appearance and 
//behaviour of Neutron without needing to create 
//your own modules or themes.
//---------------------------------------------

// Viewport Settings
//---------------------------------------------

		 $mobile-max: setting("query", "mobile-max");
		$phablet-max: setting("query", "phablet-max");
		 $tablet-max: setting("query", "tablet-max");
	$desktop-sml-max: setting("query", "desktop-sml-max");
	$desktop-mid-max: setting("query", "desktop-mid-max");


//Max device widths
$phablet-min: 		$mobile-max + 1;
$tablet-min: 		$phablet-max + 1;
$desktop-sml-min: 	$tablet-max + 1;
$desktop-mid-min: 	$desktop-sml-max + 1;
$desktop-lrg-min: 	$desktop-mid-max + 1;

// Media Queries
//---------------------------------------------

//Mobile
$is-mobile: "(max-width: #{$mobile-max})";

// Phablet
$is-phablet: "(min-width: #{$phablet-min}) and (max-width: #{$phablet-max})";
$from-phablet: "(min-width: #{$phablet-min})";

// Tablet
$is-tablet: "(min-width: #{$tablet-min}) and (max-width: #{$tablet-max})";
$from-tablet: "(min-width: #{$tablet-min})";

// Small Desktop
$is-desktop-sml: "(min-width: #{$desktop-sml-min}) and (max-width: #{$desktop-sml-max})";
$from-desktop-sml: "(min-width: #{$desktop-sml-min})";

// Medium Desktop
$is-desktop-mid: "(min-width: #{$desktop-mid-min}) and (max-width: #{$desktop-mid-max})";
$from-desktop-mid: "(min-width: #{$desktop-mid-min})";

// Large Desktop
$is-desktop-lrg: "(min-width: #{$desktop-lrg-min})";
$from-desktop-lrg: "(min-width: #{$desktop-lrg-min})";