/*---------------------------------
           NeutronCSS
---------------------------------*/

// Overridable Settings
// ============================================

// General Settings
$neutron-column-padding: 4px 8px !default;
$neutron-container-max-width: 960px !default;
$neutron-flush-margin: true !default;
$neutron-flush-padding: false !default;

// Breakpoint Settings
$neutron-mobile-max: 479px !default;
$neutron-phablet-max: 767px !default;
$neutron-tablet-max: 1023px !default;
$neutron-desktop-sml-max: 1199px !default;
$neutron-desktop-mid-max: 1799px !default;

// Modules
// ============================================
@import "modules/shared";
@import "modules/floatbox";
@import "modules/flexbox";
@import "modules/queries";
@import "modules/utilities";

// Default Styles
// ============================================
// Set root element to use border-box 
// sizing and set all elements on the page
// to inherit border-box sizing. 

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	max-width: $neutron-container-max-width;
	margin-left: auto;
	margin-right: auto;
}

/*--------- End of NeutronCSS ---------*/
