@import "neutron/neutron";


/* Example Styling
-----------------------------*/

body {
	margin-bottom: 24px;
}

section {
	outline: 1px solid red;
	margin-bottom: 50px;
}

div p {
	word-wrap: break-word;
}
nav {
	@include clear-fix();
}

nav ul a {
	padding: 16px 24px;
}
nav ul .subhead {
	padding: 16px 24px;
}

/* Code Examples
-----------------------------*/

.example-1 {
	@include columns((2,5,5));
}

.example-2 {
	@include columns((1,4,1));
}

.example-3 {
	@include columns((2,6));
}
.example-4 {
	@include columns((2,1,1), $target:div);
}

.example-5 {
	@include hide($qry-desktop-small);
	@include show($qry-desktop-large);
}

.example-6 {
	@include columns(4);
}

.example-7 {
	@include columns(4);
	@include flush-padding();
}

.example-8 {
	$column-ratio: (1,1,2,2);
	$order: (3,1,4,2);

	@include columns($column-ratio);
	@include order($order,$column-ratio);
}

.example-9 {
	@include columns(2);
}

.nested {
	@include columns(2);
}

.example-10 {
	@include columns((1,2),$padding: 10px);
	
	.content {
		.article {
			@include columns(2, $margin:10px, $padding:10px);
		}

		aside {
			@include columns((5,1),$margin:10px,$padding:10px);
		}
	}
}

.example-10 {
	outline: black solid 1px;
	
	.sidebar, .content {
		outline: red solid 1px;
		
		.article, aside {
			outline: blue solid 1px;
			
			div {
				outline: green solid 1px;
			}
		}
	}
}

.example-11 {
	@include columns((1,1,1,1.75));
}

.example-12 {
	@include columns(2, 50%);
}

.example-13 {
	@include columns(2, 50%, right);
}

.example-14 {
	@include columns(4);
	
	div:nth-child(3) {
		@include hide($qry-tablet);
	} 
}

.example-15 {
	@include columns(3,$target:div) {
		background: #CCC;
	}	
}

.example-16 {
	@include columns(2,$margin:2rem) {
		background: #CCC;
	}	
}

.example-17 {
	@include columns((2,2,1),$margin:12px, $flush-margin:false) {
		background: #CCC;
	}
}

.example-18 {
	@include columns((2,2,1),$margin:24px 12px 8px 4px, $flush-margin:true) {
		background: #CCC;
	}
}






/* Example Styling
-----------------------------*/

body {
	margin-bottom: 24px;
}

section {
	outline: 1px solid red;
	margin-bottom: 50px;
}

div p {
	word-wrap: break-word;
}
nav {
	@include clear-fix();
}

nav ul a {
	padding: 16px 24px;
}
nav ul .subhead {
	padding: 16px 24px;
}
