/// Overrides
//===============================================
//In this file you can change the default 
//values for variables used throughout Neutron,
//allowing you to customise the appearance and 
//behaviour of Neutron without needing to create 
//your own modules or themes.
//---------------------------------------------


// Color Variables
//---------------------------------------------

$copy: 				#222;
$primary: 			#000;
$secondary: 		#555;
$tertiary: 			#D1D1D1;
$link: 				#1EAEDB;
$hover-link: 		#0FA0CE;
$visited-link: 		#0FA0CE;
$active-link: 		#0FA0CE;
$success: 			#000;
$warning: 			#000;
$notice: 			#000;
$shadow: 			#000;
$focus:				#33C3F0;
$border-primary:	#888;
$border-secondary:	#D1D1D1;
