/*---------------------------------
           NeutronCSS
---------------------------------*/

// Overrides
//-------------------------------------
@import "overrides/queries";
@import "overrides/colors";
@import "overrides/layout";

// Modules
//-------------------------------------
@import "modules/normalise";
@import "modules/grid";
//@import "modules/flexbox";
@import "modules/utilities";
@import "modules/typography";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";

// Helper Functions
//-------------------------------------

//Adds all items in a list and returns the result
@function sum($list) {
	
	$total: 0;
	@each $element in $list {
		$total: $total + $element;
	}
	@return $total;
	
}

//Adds block element self clearing
@mixin clear-fix() {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}

@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

@function extract-position($shorthand, $position) {
	$shorthand-length: length($shorthand);
	
	//if only one variable passed, return it
	@if $shorthand-length == 1 {
		@return $shorthand;
	}
	
	@if $shorthand-length == 2 {
		@if $position == top or $position == bottom {
			@return nth($shorthand, 1);
		}
		
		@if $position == left or $position == right {
			@return nth($shorthand, 2);
		}
	}

	@if $shorthand-length == 3 {
		@if $position == top {
			@return nth($shorthand, 1);
		}

		@if $position == left or $position == right {
			@return nth($shorthand, 2);
		}

		@if $position == bottom {
			@return nth($shorthand, 3);
		}
	}

	@if $shorthand-length == 4 {
		@if $position == top {
			@return nth($shorthand, 1);
		}

		@if $position == right {
			@return nth($shorthand, 2);
		}

		@if $position == bottom {
			@return nth($shorthand, 3);
		}

		@if $position == left {
			@return nth($shorthand, 4);
		}
	}
}


// Required Styles
//-------------------------------------

/**
 * Set root element to use border-box 
 * sizing and set all elements on the page
 *  to inherit border-box sizing. 
 * 
 * html is set to 62.5% so that all the REM 
 * measurements are based on 10px sizing. 
 * So basically 1.5rem = 15px
 */

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}

html * {
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	max-width: $container-max-width;
	margin-left: auto;
	margin-right: auto;
}

