/*---------------------------------
           NeutronCSS
---------------------------------*/

/* Overrides
-------------------------------------*/
@import "overrides/queries";
@import "overrides/colors";
@import "overrides/layout";

/* Modules
-------------------------------------*/
@import "modules/normalise";
@import "modules/grid";
//@import "modules/flexbox";
@import "modules/utilities";

/* Themes
-------------------------------------*/
@import "themes/neutron/typography";
@import "themes/neutron/buttons";
@import "themes/neutron/forms";
@import "themes/neutron/lists";
@import "themes/neutron/code";
@import "themes/neutron/tables";

/* Helper Functions
-------------------------------------*/

//Adds all items in a list and returns the result
@function sum($list) {
	
	$total: 0;
	@each $element in $list {
		$total: $total + $element;
	}
	@return $total;
	
}

//Adds block element self clearing
@mixin clear-fix() {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}

/* Required Styles
-------------------------------------*/

/**
 * Set root element to use border-box 
 * sizing and set all elements on the page
 *  to inherit border-box sizing. 
 */

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
	font-size: 62.5%;
}

