/* Modules
-------------------------------------*/
@import "modules/normalise";
@import "modules/grid";
@import "modules/flexbox";
@import "modules/queries";
@import "modules/utilities";

/* Theme
-------------------------------------*/
@import "theme/typography";
@import "theme/buttons";
@import "theme/forms";
@import "theme/lists";
@import "theme/code";
@import "theme/tables";

/* Helper Functions
-------------------------------------*/

//Adds all items in a list and returns the result
 @function sum($list) {
	
	$total: 0;
	@each $element in $list {
		$total: $total + $element;
	}
	@return $total;
	
}

/* Required Styles
-------------------------------------*/

/**
 * Set root element to use border-box 
 * sizing and set all elements on the page
 *  to inherit border-box sizing. 
 */

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

