/* Media Queries
---------------------------------------------*/

// Larger than mobile
$qry-phablet: "(min-width: 480px)";

// Larger than phablet (also point when grid becomes active)
$qry-tablet: "(min-width: 768px)";

// Larger than tablet
$qry-desktop-small: "(min-width: 1024px)";

// Larger than small desktop
$qry-desktop: "(min-width: 1200px)";

// Larger than desktop
$qry-desktop-large: "(min-width: 1800px)";


/* Color Variables
---------------------------------------------*/

$copy: 				#222;
$primary: 			#000;
$secondary: 		#555;
$tertiary: 			#D1D1D1;
$link: 				#1EAEDB;
$hover-link: 		#0FA0CE;
$visited-link: 		#0FA0CE;
$active-link: 		#0FA0CE;
$success: 			#000;
$warning: 			#000;
$notice: 			#000;
$shadow: 			#000;
$focus:				#33C3F0;
$border-primary:	#888;
$border-secondary:	#D1D1D1;
