// Buttons
//---------------------------------------------

//Default button styles
@mixin button() {
	display: inline-block;
	padding: 5px 20px;
	line-height: 2;
	color: setting("color","copy-2");
	background: setting("color","button");
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
	
	&:hover {
		color: setting("color","copy-2");
		background: setting("color","button-hover");
		text-decoration: none;
	}
	
	@content;
	
}

@mixin link-list($float: "") {
	
	@if $float != "" {
		float: $float;
	}
	
	li {
		display: inline-block;
	}
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.button {
	@include button;
}