/* Flexbox
---------------------------------------------*/

@mixin container($max-width:960px) {
	//
	position: relative;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	display: flex;
	
	//self clear
	content: "";
	display: table;
	clear: both;
}

@mixin row() {
	//
}

@mixin push() {
	//
}

@mixin pull() {
	//
}

@mixin order() {
	//
}

@mixin columns() {
	//
}

@mixin column() {
	//
}

