// Forms
//---------------------------------------------

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
height: 38px;
padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
background-color: setting("color", "background");
border: 1px solid setting("color", "border-2");
box-shadow: none;
box-sizing: border-box; }

select {
box-shadow: none;
box-sizing: border-box; }

textarea {
min-height: 65px;
padding-top: 6px;
padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus
 {
border: 1px solid setting("color", "focus");
 }
label,
legend {
display: block;
}
legend {
margin-left: 16px;
margin-right: 16px;
padding: 0 6px;
}

fieldset {
padding: 0 8px;
border: 1px solid setting(color,"border");
}
input[type="checkbox"],
input[type="radio"] {
display: inline;
}