/* Media Queries
---------------------------------------------*/

// Larger than mobile
$qry-phablet: "(min-width: 480px)";

// Larger than phablet (also point when grid becomes active)
$qry-tablet: "(min-width: 768px)";

// Larger than tablet
$qry-desktop-small: "(min-width: 1024px)";

// Larger than small desktop
$qry-desktop: "(min-width: 1200px)";

// Larger than desktop
$qry-desktop-large: "(min-width: 1800px)";