// Tables
//---------------------------------------------

th,
td {
	padding: setting("table", "cell-padding");
	text-align: left;
	border-bottom: 1px solid setting("color", "border2")
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}