// Typography
//---------------------------------------------

body {
font-size: setting("text", "font-size"); /* currently ems cause chrome bug misinterpreting rems on body element */
line-height: setting("text", "line-height");
font-weight: setting("text", "font-weight");
font-family: setting("text", "font-family");
color: setting("color", "copy");
}

h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 1rem;
font-weight: setting("text", "font-weight"); 
}

h1 {
	font-size: 3.0rem;
	line-height: 1.2;  
	letter-spacing: -.1rem;
}
h2 {
	font-size: 2.75rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}
h3 {
	font-size: 2.25rem;
	line-height: 1.3; 
	letter-spacing: -.1rem;
}
h4 {
	font-size: 1.75rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}
h5 {
	font-size: 1.5rem;
	line-height: 1.5; 
	letter-spacing: -.05rem;
}
h6 {
	font-size: 1.25rem;
	line-height: 1.6; 
	letter-spacing: 0;
}

p { margin-top: 0; }

