/* Utilities
---------------------------------------------*/

//hides the element when the 
//provided media query is supplied.
@mixin hide($media-query:"") {
	@if $media-query != "" {

		@media #{$media-query} {
			& {
				display:none;
			}
		}
	} @else {
		display:none;
	}
}

//shows the element when the 
//provided media query is supplied.
@mixin show($media-query:"", $display-as:"block") {
	@if $media-query != "" {

		@media #{$media-query} {
			& {
				display: unquote($display-as);
				display: initial;
			}
		}
	} @else {
		display: unquote($display-as);
		display: initial;
	}
}
