/* Example Styling
-----------------------------*/

body {
	margin-bottom: 24px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
	float: left;
	clear: left;
}
p {
	float: right;
	clear: right;
}
section {
	outline: 1px solid red;
	margin-bottom: 20px;
	clear: left;
    line-height: 20px;
	font-size: 40px;
	text-align: center;
	
	& div, & p {
		outline: red 1px solid;
	}
}

div p {
	word-wrap: break-word;
}
nav {
	@include clear-fix();
}

nav ul a {
	padding: 16px 24px;
}
nav ul .subhead {
	padding: 16px 24px;
}