/* Widths examples
-----------------------------*/

[class^='width-'] {
    line-height: 20px;
	font-size: 40px;
	text-align: center;
}

.width-1, .width-3 {
	@include columns((200px,5,5), $margin:10px 2%,$flush-margin:false);
}

.width-2 {
	@include columns((6em,1,2,2), $margin:10px,$flush-margin:true);
}

.width-3 {
	//@include order((2,3,1),(200px,5,5), $margin:10px 2%,$flush-margin: false)
}

.width-4 {
	@include columns((2,5,5), $margin:10px 2em 10px 2pc);
}

.width-5 {
	$column-ratio: (1,1,2,2);
	$flush-margin-set: true;

	@include columns($column-ratio, $margin:10px,$flush-margin: $flush-margin-set);

}